.grilla {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 150px auto 134px;
  grid-template-areas: "header" "main" "footer";
  /*-------------------------------MAIN INDEX--------------------------------------*/ }
  .grilla .main {
    grid-area: main; }
    .grilla .main .card {
      margin-left: calc(1.625rem + 4.5vw);
      margin-right: calc(1.625rem + 4.5vw);
      margin-top: calc(1.3125rem + 0.75vw); }
      @media (min-width: 1200px) {
        .grilla .main .card {
          margin-left: 5rem; } }
      @media (min-width: 1200px) {
        .grilla .main .card {
          margin-right: 5rem; } }
      @media (min-width: 1200px) {
        .grilla .main .card {
          margin-top: 1.875rem; } }
    .grilla .main .parrafo {
      font-size: calc(1.28125rem + 0.375vw);
      font-family: 'Poppins', sans-serif;
      color: #575757;
      text-align: center; }
      @media (min-width: 1200px) {
        .grilla .main .parrafo {
          font-size: 1.5625rem; } }
    .grilla .main .alineacion {
      display: flex;
      align-items: center;
      justify-content: center; }
    .grilla .main .main_container1 {
      display: flex;
      justify-content: center;
      align-items: center; }
      .grilla .main .main_container1 .main_container1_titulo1 {
        font-size: calc(1.3125rem + 0.75vw);
        font-family: 'Playfair Display', serif;
        color: #272727; }
        @media (min-width: 1200px) {
          .grilla .main .main_container1 .main_container1_titulo1 {
            font-size: 1.875rem; } }

/*-------------------jquery 992px----------------------*/
@media only screen and (max-width: 992px) {
  .grilla .main .parrafo {
    font-size: 1.1em; } }

/*-------------------jquery 768px----------------------*/
@media only screen and (max-width: 768px) {
  .grilla .main .parrafo {
    font-size: 10px; }
  .grilla .main .main_container1 .main_container1_titulo1 {
    font-size: calc(1.28125rem + 0.375vw); } }
  @media only screen and (max-width: 768px) and (min-width: 1200px) {
    .grilla .main .main_container1 .main_container1_titulo1 {
      font-size: 1.5625rem; } }

/*-------------------jquery 620px----------------------*/
@media only screen and (max-width: 500px) {
  .grilla .main .card {
    margin-left: 0.9375rem;
    margin-right: 0.9375rem; }
  .grilla .main .parrafo {
    font-size: 6px; }
  .grilla .main .main_container1 .main_container1_titulo1 {
    font-size: 15px; } }
