@import "../node_modules/rfs/scss";

.grilla{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 150px auto 134px;
    grid-template-areas:    "header"
                            "main"
                            "footer";


    /*-------------------------------MAIN INDEX--------------------------------------*/
    .main{
        grid-area: main;
        .card{
            @include margin-left (80px);
            @include margin-right (80px);   
            @include margin-top (30px);
        }
        .parrafo{
            @include font-size (23px);
            margin-left: 60px;
            margin-right: 60px;
            font-family: 'Poppins', sans-serif;
            color: rgb(87, 87, 87);
            text-align: center;
        }
        .alineacion{
            display: flex;
            align-items: center;    
            justify-content: center;
        }

        .main_container1{
            display: flex;
            justify-content:center;
            align-items: center;

            .main_container1_titulo1{            
                @include font-size (30px);  
                font-family: 'Playfair Display', serif;
                color: rgb(39, 39, 39);
            }
        }
    }
}

/*-------------------jquery 1200px----------------------*/
@media only screen and (max-width: 1200px){
    .grilla{
        .main{
            .parrafo{
                font-size: 18px;
                margin-left: 30px;
                margin-right: 30px;
            }
        }
    }
}
/*-------------------jquery 992px----------------------*/
@media only screen and (max-width: 992px){
    .grilla{
        .main{
            .parrafo{
                font-size: 1em;
            }
        }
    }
}
/*-------------------jquery 768px----------------------*/
@media only screen and (max-width: 768px){
    .grilla{
        .main{
            .parrafo{
                font-size: 10px; 
                margin-left: 4px;
                margin-right: 4px;
            }
            .main_container1{
                .main_container1_titulo1{            
                    @include font-size (25px);

                }
            }
        }
    }
}
/*-------------------jquery 620px----------------------*/
@media only screen and (max-width: 500px){
    .grilla{
        .main{
            .card{
                @include margin-left (15px);
                @include margin-right (15px);  
            }
            .parrafo{
                font-size: 6.5px; 
            }
            .main_container1{
                .main_container1_titulo1{            
                    font-size: 15px;  
                
                }
            }
        }
    }
}